{{#extends 'base'}}
{{#block 'content'}}
<form method="GET">
    {{{form}}}
    <div class="d-flex">
        <input type="submit" class="mb-3 mt-3 btn btn-primary" value="Search" />
        <a href="/orders/add" class="m-3 btn btn-primary">Add Order</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product_name</th>
            <th>Purchaser_name</th>
            <th>Order_date</th>
            <th>Status</th>
            <th>Shipping Address</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.product_name}}
            </td>
            <td>
                {{this.purchaser_name}}
            </td>
            <td class="overflow-auto" style="width: 300px;">
                {{this.order_date}}
            </td>
            <td>
                {{this.status_type }}
            </td>
            <td>
                {{this.shipping_address}}
            </td>
            <td>
                {{this.quantity}}
            </td>
            <td>
                <a href="/orders/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                <a href="/orders/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}