{{#extends 'base'}}

{{#block 'content'}}
<a href="/users/register" class="btn btn-primary btn-sm">User Registration</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Country</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Password</th>
            <th>User type</th>
        </tr>

    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.first_name}}
            </td>
            <td>
                {{this.last_name}}
            </td>
            <td>
                {{this.address}}
            </td>
            <td>
                {{this.country}}
            </td>
            <td>
                {{this.email}}
            </td>
            <td>
                {{this.phone}}
            </td>
            <td>
                {{this.password}}
            </td>
            <td>
                {{this.user_type}}
            </td>
            <td>
                <a href="/users/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/users/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}