{{#extends 'base'}}

{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>Product_ID</th>
            <th>Product_Name</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Description</th>
            <th>Roast Type</th>
            <th>certificate</th>
            <th>origin</th>
        </tr>

    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.product_name}}
            </td>
            <td>
                {{this.price}}
            </td>
            <td>
                {{this.qty}}
            </td>
            <td>
                {{this.description}}
            </td>
            <td>
                {{this.roastType.name}}
            </td>
            <td>
                {{#each this.certificates}}
                <span class="badge bg-primary">{{this.name}}</span>
                {{/each}}
            </td>
            <td>
                {{#each this.origins}}
                <span class="badge bg-primary">{{this.country_name}}</span>
                {{/each}}
            </td>
            <td>
                <a href="/products/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>

        </tr>
        {{/each}}
        <a href="/products/create" class="btn btn-primary btn-sm">Create</a>
    </tbody>
</table>
{{/block}}

{{/extends}}