{{#extends 'base'}}

{{#block 'content'}}
{{!-- this one no need CSRF token  --}}
<form method="GET">.  
   {{{form}}}
    <input type="submit" class="mb-3 mt-3 btn btn-primary" value="Search"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Product_ID</th>
            <th>Product_Name</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Description</th>
            <th>Roast Type</th>
            <th>certificate</th>
            <th>origin</th>
            <th>Product Image</th>
        </tr>

    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.product_name}}
            </td>
            <td>
                {{this.price}}
            </td>
            <td>
                {{this.qty}}
            </td>
            <td>
                {{this.description}}
            </td>
            <td>
                {{this.roastType.name}}
            </td>
            <td>
                {{#each this.certificates}}
                <span class="badge bg-primary">{{this.name}}</span>
                {{/each}}
            </td>
            <td>
                {{#each this.origins}}
                <span class="badge bg-primary">{{this.country_name}}</span>
                {{/each}}
            </td>
            <td>
                {{#if this.image_url}}
                <img src="{{this.image_url}}" class="img-fluid" />
                {{/if}}
            </td>
            <td>
                 <a href="/cart/{{this.id}}/add" class="btn btn-success btn-sm">Add to cart</a>
                <a href="/products/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
        <a href="/products/create" class="btn btn-primary btn-sm">Create</a>
    </tbody>
</table>
{{/block}}

{{/extends}}